body {
    background-color: #fce4ec;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

#aquarium {
    width: 1000px;
    height: 600px;
    border: 10px solid #005f73;
    position: relative;
    overflow: hidden; 
    background-image: url('ho.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#seabed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background-color: #d7c12e;
    z-index: 10;
}

#aquarium img {
    position: absolute;
    height: auto; 
    z-index: 20;
}

@keyframes diveUpDown {
    0% { transform: translateY(0) rotate(0deg); }      
    50% { transform: translateY(400px) rotate(5deg); } 
    100% { transform: translateY(0) rotate(0deg); }    
}

.diver {
    width: 100px; 
    animation-name: diveUpDown;
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
}

#diver1 { top: 50px; left: 100px; animation-duration: 6s; }
#diver2 { top: 150px; left: 450px; animation-duration: 4.5s; animation-delay: 1s; }
#diver3 { top: 0px; left: 800px; animation-duration: 7s; }

@keyframes swimAcross {
    0% { left: -250px; transform: scaleX(1); }
    49.9% { left: 1000px; transform: scaleX(1); }
    50% { left: 1000px; transform: scaleX(-1); }
    100% { left: -250px; transform: scaleX(-1); }
}

#shark {
    width: 250px;
    top: 100px;
    animation-name: swimAcross;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#turtle {
    width: 150px;
    top: 400px;
    animation-name: swimAcross;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
#goldfish {
    width: 120px;
    top: 300px;
    animation-name: swimAcross;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
@keyframes swimDiagonal {
    0% { 
        left: -250px; 
        top: 300px;
        transform: scaleX(1); 
    }
    12% { 
        left: 100px; 
        top: 250px;
    }
    25% { 
        left: 350px; 
        top: 350px;
    }
    37% { 
        left: 650px; 
        top: 200px;
    }
    49.9% { 
        left: 1000px; 
        top: 300px; 
        transform: scaleX(1); 
    }
    
    50% { 
        left: 1000px; 
        top: 300px; 
        transform: scaleX(-1);
    }
    
    62% { 
        left: 750px; 
        top: 350px;
    }
    75% { 
        left: 400px; 
        top: 250px;
    }
    87% { 
        left: 150px; 
        top: 380px;
    }
    100% { 
        left: -250px; 
        top: 300px; 
        transform: scaleX(-1);
    }
}
#jellyfish {
    width: 100px;
    animation-name: swimDiagonal;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s; 
}
#faintSchool {
    width: 150px;
    top: 350px;
    animation-name: swimAcross;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s; 
}
#kageyama {
    width: 130px;
    top: 200px;
    animation-name: swimDiagonal;
    animation-duration: 20s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s; 
}